.App {
  text-align: center;
  grid-area:content;
}
.Wrapper {
  display:grid;
  grid-template-columns: 160px auto 100px;
  grid-template-areas: "sidebar content leftsidebar";
  grid-template-rows: auto auto auto;
  grid-gap:170px;
  height:100vh;
}
